:root{
    --background-color: #2FA084;
    --text-color: white;
    --button-color1: rgba(11,163,96,1);
    --button-color2:  rgba(60,186,146,1);

}
* {
    box-sizing: border-box;
}


body, html {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--background-color)

}
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
input, textarea, button, select {
    font: inherit;
    color:black;
}
@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }
    html {
        font-size: 70%; 
    }
}
